.my-text{
    width:120px;
    height:20px;
    text-align:center;
    font:0.9rem 'Microsoft YaHei';
    border:1 solid #0C4E7C;
    border-radius:6px;
}
div{
    margin:50px auto;
}
div select{
    width:80px;
    height:25px;
    font:0.9rem 'Microsoft YaHei';
    border:1 solid #0C4E7C;
    border-radius:5px;
}
div select:first-child{
    text-indent:0.5em;
}
div select:last-child{
    text-indent:1.5em;
}
table{
    margin:0 auto;
    cursor:pointer;
}
p{
    text-align:center;
    margin:1rem 0;
}
th, td{
    width:50px;
    text-align:left;
    margin: 1px;
}
th{
	float: left;
	text-align: center;
	justify-content: center;
    font:1em/1.5em 'Microsoft YaHei';
    background-color:#e8cf6d;
    border-radius:10px ;
}
td{
	text-align: center;
	justify-content: center;
    font:1em/1.5em 'Microsoft YaHei';
    height:1.5em;
    background-color:#e2deb8;
    border-radius:5px;
}
td:hover{
    background-color:#0C4E7C;
    color: #fff;
}
